<% provide(:title, t(".head_title")) %>
<p>
  <%= content_tag :p do %>
    <%= link_to 'Chuyen sang English', locale: :en %>
  <% end unless current_page?(locale: :en) %>

  <%= content_tag :p do %>
    <%= link_to 'Switch to VietNamese', locale: :vi %>
  <% end unless current_page?(locale: :vi) %>
</p>
<h1><%= t ".title" %></h1>
<h1><%= t ".page_title" %></h1>
<p>
  <%= t ".content_html" %>
</p>

